#submaincontainer {
  display: flex;
  justify-content: center;
}

.tableclass {
  height: 580px;
  width: 600px;
  border: 4px solid black;
}
.tdclass {
  border: 10px solid rgb(205, 27, 27);
  height: 180px;
  width: 180px;
  cursor: pointer;
}
.trclass {
  border: 10px solid rgb(205, 27, 27);
}

.player1 {
  color: blue;
}
.player2 {
  color: red;
}

.common {
  font-size: 140px;
  text-align: center;
}

.resetbtn {
  padding: 10px 70px 10px 70px;
  font-size: 20px;
  color: white;
  background-color: rgb(205, 27, 27);
  border-radius: 12px;
  margin-top: 40px;
}
.resetbutton {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  table {
    width: 320px;
    /* height: 100px; */
    border-width: 6px;
  }

  .tdclass {
    border-width: 4px;
    height: 144px;
    width: 48px;
  }

  .common {
    font-size: 60px;
  }

  /* .resetbtn {
    padding: 10px 40px;
    font-size: 18px;
  } */
}
